body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 30px;
}
.demo{
    color: #E0A82D;
}
.tissue{
    display: flex;
    margin-bottom: 150PX;
    
}
.design{
    width: 50%;
    margin-left: 20px;
    padding: 5px;
}
.design img{
    width: 60%;
    margin-left: 20px;

}
.link-button{
    text-decoration: none;
    background-color: #FF6C4F;
    padding: 10px 30px;
    border-radius: 5px;
    color: pink;

}
.tissue-info{
    width: 40%;
    padding: 10px;
    margin-left:20px ;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px  gray ;

}
#factory{
    border-left:5px solid tomato;
}
#company{
    border-left:5px solid fuchsia;
}
footer p{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color:tan
    
}